[2020-06-25 17:45] sarja830 opened #1 "regarding the .env file"
how to set the values of
PORT & BASE_SERVER_URL & BASE_API_URL & BASE_CLIENT_URL.

i am running the app on localhost.

i want the app to run on http://localhost:3000/ (frontend)
and the api call to be answered from 5000 (backend)

what value of base client url to be used??
i am getting error 404 not found
please help me out thanks in advance

[2020-06-28 07:55] mohamedsamara commented on #1
@sarja830 I think with the current implementation of using [webpack-dev-middleware](https://github.com/webpack/webpack-dev-middleware) on the server, you probably have to install a proxy to make the backend run on a different port. This is a proxy for node [node-http-proxy](https://github.com/http-party/node-http-proxy)

Right now both the client and the server are running on the same port and hos

[2020-07-07 12:37] kmbawuike commented on #1
@mohamedsamara nice implementation of the MERN stack. I am currently learning and studying this project has helped me a lot.
what did you use as the BASE_API_URL

[2020-07-08 04:19] mohamedsamara commented on #1
@kmbawuike Thanks, I'm glad it helped you! I've used it like this BASE_API_URL=api. I updated the code and added .env.example file.

[2020-07-29 05:18] #1 closed

[2020-09-27 16:41] nish0007nish opened #2 "Decimal value of price is getting upto 14 decimal place."
When adding decal price in the cart then the calculation gets upto 14 decimal place that should be 2 decimal place as per standard pricing.

![image](https://user-images.githubusercontent.com/64981592/94370551-5c9e9a00-010e-11eb-9394-d9fe8ef00c27.png)

[2020-09-27 16:44] nish0007nish opened #3 "On Adding account details, The next step to manage order doesn't get open itself."
As a user click save the details. We should take him/her to the next step itself.

![image](https://user-images.githubusercontent.com/64981592/94370633-c3bc4e80-010e-11eb-8cf8-58813679ea98.png)

[2020-09-27 16:53] nish0007nish opened #4 "Cart Item does not appear properly when checkout with items filled with cart list."
Steps to Reproduce:
Add items with full stack of the cart.
![image](https://user-images.githubusercontent.com/64981592/94370352-2ca2c700-010d-11eb-9a71-f5f431e3baf0.png)

![image](https://user-images.githubusercontent.com/64981592/94370694-09791700-010f-11eb-8a39-7187a9a4f14e.png)
Now, Click on Proceed to checkout.
Then, Click on Login (I did via Google)
Verify, Cart number at the top.
![image](ht

[2020-10-01 05:00] #2 closed

[2020-10-01 06:06] #4 closed

[2020-10-01 06:30] mohamedsamara commented on #3
Hi @nish0007nish ! Thanks for your feedback. I don't think "Account Details" page is related to "Manage Orders" page as steps. There are some scenarios when a user wants to update his/her account details and navigate away to other page, in this case taking him/her to "Manage Orders" page becomes irrelevant.

[2020-10-05 20:18] nish0007nish commented on #3
Thanks for confirmation. Closing the issue.

[2020-10-05 20:18] #3 closed

[2020-11-07 19:23] karthikeyana opened #11 "Feature Enhancement Done: Enable Admins and Merchants to upload product image"
[code]

Files worked/update
![image](https://user-images.githubusercontent.com/10651426/98449892-c4102680-215d-11eb-92b3-04396f1d5cb0.png)

Thanks.
Karthikeyan

![image](https://user-images.githubusercontent.com/10651426/98449563-907fcd00-215a-11eb-8e68-cea2701bfaea.png)
![image](https://user-images.githubusercontent.com/10651426/98449596-c58c1f80-215a-11eb-9274-aad8ca35504b.png)
![image](https://

[2020-11-17 00:05] mohamedsamara commented on #11
Hi @karthikeyana, I'm glad this project helps and thanks for the contribution. 'll take a look in the next two days and see how we can merge this.

[2020-11-24 22:21] #11 closed

[2020-11-30 08:12] 70shakeel opened #15 "Why do we need all the keys to run the project?"
I have been trying to run the project on my machine and it is not compiling without all the keys.

[2020-12-03 08:28] usman786-ctrl opened #16 "admin side password"

[2020-12-07 08:38] thevenice opened #17 "S3 keys/setup is not mentioned in .env.example"

[2020-12-07 08:39] thevenice opened #18 "Add brand is not imported in brand page"

[2020-12-30 13:42] mohamedsamara commented on #17
@thevenice updated .env.example.

[2020-12-30 13:42] #17 closed

[2020-12-30 13:44] mohamedsamara commented on #15
@70shakeel AWS keys were missing. I updated .env.example with all the keys required to run the project.

[2020-12-30 13:44] #15 closed

[2020-12-30 13:50] mohamedsamara commented on #16
@usman786-ctrl if you want to sign in as an admin, you will need to modify the role field in MongoDB from "ROLE_MEMBER" to "ROLE_ADMIN".

[2020-12-30 13:54] mohamedsamara commented on #18
@thevenice Adding brands is allowed by admins only in case you are trying with a "ROLE_MEMBER" user and I wasn't able to reproduce any issues with adding brands as an admin. Can you please provide more information about the issue?

[2021-01-17 00:21] karthikeyana opened #20 "Request to implement Payment solution"
Hi Mohamed.,
     First of all thanks for your continued contribution to this repository in the pandemic time and your busy work schedule. For this repository, many of them are recognizing and forking to work on further feature implementation to fulfill their business needs and still facing some challenges to implementing features such as payment, Shipment processing, Product search, and filtering

[2021-01-18 16:24] mohamedsamara commented on #20
Hi @karthikeyana,

Thank you for your contribution to this project! I agree about the importance of those features. I'll put each feature into an issue on the repository, that way we can finish them one by one and also to encourage other developers to contribute.

Thanks!

[2021-01-20 01:47] mohamedsamara opened #21 "Merchant Accounts"
Description:

1. Admins will be able to view, approve or reject merchants requests.
2. Upon approval:
 a. An email should be sent to merchants to allow them to sign in to see their components.
 b. Merchant brand must be associated with the store brands.
3. Upon rejection, nothing happens.

Note:
* Merchant db model will be used to collect merchant business details
* Components and apis need to be

[2021-01-20 01:58] karthikeyana commented on #20
Hi @mohamedsamara .,
     Thanks for responding, good idea this will help.

[2021-01-20 01:58] #20 closed

[2021-01-23 10:42] SnekNOTSnake opened #22 "MongoDB `facebookId_1` duplicate `null` key"
Mongod version: 4.4.2

[code]

Steps to reproduce (at least in my machine):

- Create two accounts that don't use facebook

I was able to solve this problem using this [stackoverflow answer](https://stackoverflow.com/a/24430345/10930293), but IDK why  is this only happening to me.

[2021-01-30 02:01] #21 closed

[2021-01-30 02:18] #18 closed

[2021-01-30 02:18] #16 closed

[2021-01-30 02:20] mohamedsamara opened #24 "Enable Merchants to edit, delete their own brand and products"

[2021-02-01 00:10] mohamedsamara opened #25 "Enable Admins to edit, delete, product or a brand"

[2021-02-01 03:31] #24 closed

[2021-02-01 03:31] #25 closed

[2021-02-07 14:46] karthikeyana commented on #22
I had the same problem while I social media signup. when the user joins using email first-time work without any issue. when another user signup using email there is an issue due to a null value assigned to the social media id. the reason is only one user should be allowed to insert a null value according to unique true constrain.

**Error Schema:**

    facebookId: {
        type: String,

[2021-03-11 15:56] TrustFirst12 commented on #22
I installed the project and run the application for the project.
And I got the following error.

![image](https://user-images.githubusercontent.com/80338585/110815167-1150f180-823f-11eb-9096-7e6fbcedb72e.png)

Could you explain why this happens and how to fix it?
Thank you.

[2021-03-13 07:28] mohamedsamara commented on #22
@TrustFirst12 Mailchimp keys are missing, these keys are secrets and are not shared between projects. You need to obtain them from your Mailchimp account and put them in an .env file in the project. Here is an example of the [env](https://github.com/mohamedsamara/mern-ecommerce/blob/master/.env.example) file.

[2021-03-25 18:06] hari-bhandari opened #38 "Do you have an documentation for backend? much"
Do you have documentation for the backend? like a postman api documentation

[2021-03-29 14:38] Walf-dev commented on #22
Thanks guys for all. You made a great job!

However, I'm facing a problem.
Adding an image when creating a product results in the following error:
"Please Try Again!
Your request could not be processed.
Please try again."

Is the problem due to the size of the database or something else?

Please how can I solve this?

[2021-04-03 03:53] mohamedsamara commented on #38
@hari-bhandari Thanks for asking! There is no docs at the moment as we have more priorities to build the payment and checkout modules for instance. But we will definitely add docs and tools like swagger for API.

[2021-04-03 04:00] mohamedsamara commented on #22
@Walf-dev This is a generic error that is passed to the frontend app. If you want to see the error you can log it on this [line](https://github.com/mohamedsamara/mern-ecommerce/blob/master/server/routes/api/product.js#L101). Adding an image will use AWS S3 Bucket so make sure you add the [keys](https://github.com/mohamedsamara/mern-ecommerce/blob/master/.env.example#L18) that are associated with y

[2021-04-04 21:45] #38 closed

[2021-04-08 22:33] ozgurmuraterhan opened #39 "admin area"
hi, this is project beatuful. i didn't find admin area on demo link.

tell me admin links or give me example mongo backup.

thanks o lot

[2021-04-15 08:02] mohamedsamara commented on #39
@ozgurmuraterhan the admin area appear if you have an admin account, there is a role field for each account. If you run the app locally and have an account created and changed the role field value in user collection to "ROLE_ADMIN", you will be able to see it.

[2021-04-15 09:38] #39 closed

[2021-04-15 09:38] ozgurmuraterhan commented on #39
okey :)))

[2021-04-18 19:21] talmax1124 opened #44 "After clear order, website fails to appear."
After I click cancel order, page turns to full white with no content. Also can you integrate payment with stripe or something like that with sandbox

[2021-04-19 08:01] mohamedsamara commented on #44
@talmax1124 We are working on the payment module. Can you please provide a screenshot or anything that will help me reproduce the issue? a screenshot of the browser console when you click cancel order would definitely help. Thanks!

[2021-04-20 04:04] #44 closed

[2021-04-20 04:04] talmax1124 commented on #44
I have tried once again, and it has functioned

[2021-04-21 07:56] dclambo720 opened #46 "for admin"
do u have any admin dashboard for this webapp

[2021-04-22 06:28] mohamedsamara commented on #46
@dclambo720 the admin area appear if you have an admin account, there is a role field for each account. If you run the app locally and have an account created and changed the role field value in user collection to "ROLE_ADMIN", you will be able to see it.

[2021-05-07 08:01] bharath2612 opened #47 "how do i add the base api key, it is showing an error"
<img width="1440" alt="Screenshot 2021-05-07 at 1 29 37 PM" src="https://user-images.githubusercontent.com/42945720/117418003-8cc9d900-af38-11eb-86f1-c2d227b066e4.png">

[2021-05-07 09:12] mohamedsamara commented on #47
@bharath2612 Mailchimp keys are missing, these keys are secrets and are not shared between projects. You need to obtain them from your Mailchimp account and put them in the .env file in the project.

[2021-05-07 09:15] bharath2612 commented on #47
thank you, i will try that :)

[2021-05-07 15:24] bharath2612 commented on #47
@mohamedsamara how can I add the JWT secret key? I wanted to signup in the website

[2021-05-08 07:02] epubreader opened #48 "intergrete with paypal payments?"
how to intergret with paypal payments?
and can you upgrade react to 17 version?

[2021-05-08 19:55] eduardodiasc opened #49 "I cant start de application with token problem"
[nodemon] starting `node server`
/Users/eduardocruz/Public/projetos/ecross/server/routes/api/product.js:118
      products: products.filter(item => item?.brand?.isActive === true)
                                             ^

SyntaxError: Unexpected token .

[2021-05-09 05:08] karthikeyana commented on #49
Please update nodejs version

![image](https://user-images.githubusercontent.com/10651426/117561136-afcbc880-b0b1-11eb-975b-9a2c5285f2a6.png)

[2021-05-09 12:15] bharath2612 commented on #49
@karthikeyana I cannot signup when I try to create the account, can you help?

[2021-05-09 12:43] karthikeyana commented on #49
@bharath2612 kindly share the error that you are getting?

[2021-05-09 12:48] bharath2612 commented on #49
<img width="1440" alt="Screenshot 2021-05-09 at 6 15 52 PM" src="https://user-images.githubusercontent.com/42945720/117572923-cd6d5200-b0f2-11eb-9a0c-4207f4d555e9.png">

[2021-05-09 12:48] bharath2612 commented on #49
i cannot sign up here..

[2021-05-09 12:56] karthikeyana commented on #49
@bharath2612 Yes, you can signup there, if you face any issue. please create a separate thread with the proper error log.

Thanks.

[2021-05-09 13:08] bharath2612 opened #51 "SIGNUP ERROR"
i used these ports, do i need to change something? @karthikeyana
<img width="1440" alt="Screenshot 2021-05-09 at 6 36 42 PM" src="https://user-images.githubusercontent.com/42945720/117573475-b7ad5c00-b0f5-11eb-8892-e7935312c0fc.png">
<img width="1440" alt="Screenshot 2021-05-09 at 6 38 22 PM" src="https://user-images.githubusercontent.com/42945720/117573484-c3008780-b0f5-11eb-8987-42b5c6cfa24b.png

[2021-05-09 13:09] #47 closed

[2021-05-09 13:22] karthikeyana commented on #51
could you please share the backend log

[2021-05-09 16:29] movvasrikanth commented on #51
@bharath2612 try again by replacing localhost with 127.0.0.1 in .env

[2021-05-09 16:58] bharath2612 commented on #51
@mohamedsamara I tried, can y'all share a sample env file with all other important codes wiped out, keeping the URLs, please!

Thanks

[2021-05-10 04:08] mohamedsamara commented on #51
@bharath2612 the only missing keys in [env file](https://github.com/mohamedsamara/mern-ecommerce/blob/master/.env.example) are the secrets because they are not shared across projects. The error in the screenshot is unclear. Can you please provide a screenshot of the terminal logs when you run the application?

[2021-05-10 04:09] #46 closed

[2021-05-10 04:17] mohamedsamara commented on #49
@eduardodiasc this error is possibly because there are no products data in database. I'll do a fix at my end to avoid it when there is no data. Please add some product data and let me know if you still see the issue.

[2021-05-10 04:23] mohamedsamara commented on #48
@epubreader I have not looked into Paypal integration. I will look into React 17 and see how it can benefit this project.

[2021-05-10 04:45] #48 closed

[2021-05-10 04:45] #22 closed

[2021-05-24 07:45] waseem11011 opened #52 "product's image upload error"
i am not able to upload image to s3 bucket , product is not not created whenever i attach a image to it. please help

[2021-05-25 19:23] luqikhan opened #53 "product can't be uploaded from admin panel"
hello sir, i trying to post product from admin panel but it can't be uploaded and showing me error 400. and also guide me from where i can to admin dashborad..
<img width="900" alt="error" src="https://user-images.githubusercontent.com/44724999/119555812-b8154a80-bdb7-11eb-8813-771093167865.PNG">

[2021-05-26 07:15] mohamedsamara commented on #52
@waseem11011 This might happen if you haven't setup AWS or added these [env](https://github.com/mohamedsamara/mern-ecommerce/blob/master/.env.example#L18) variables in the project. Also, try to log the error on this [line](https://github.com/mohamedsamara/mern-ecommerce/blob/master/server/routes/api/product.js#L105).

[2021-05-26 07:18] mohamedsamara commented on #53
@luqikhan Try to log the error on this [line](https://github.com/mohamedsamara/mern-ecommerce/blob/master/server/routes/api/product.js#L105) to see the error details and make sure you added AWS [env](https://github.com/mohamedsamara/mern-ecommerce/blob/master/.env.example#L18) variables if you haven't already.

[2021-06-10 10:14] devlamine opened #54 "SIGNUP SELL"
Hi
how does this page work a success message but I do not receive anything ?
https://mern-store-80202.herokuapp.com/sell

[2021-06-12 05:15] mohamedsamara commented on #54
@devlamine an admin will approve or reject the request. Once approved, the user will be sent an email to complete merchant account signup.

[2021-06-12 08:36] devlamine commented on #54
Thanks for your quick response, great job . Are you going to add other features in the coming days?

[2021-06-12 12:48] devlamine opened #55 "Next.js"
Please how to adopt Next.js into this app ?

[2021-06-12 20:10] mohamedsamara commented on #54
@devlamine I will start working on the [payment module](https://github.com/mohamedsamara/mern-ecommerce#whats-next) soon but because of my schedule I have limited time during the week.

[2021-06-12 20:20] mohamedsamara commented on #55
@devlamine it is possible but will require a different structure, rewriting some modules and removing some other modules like webpack because it will handled by Next.js. So basically it is like creating a Next.js project and adding all the components, apis from this project into the new project.

[2021-06-12 22:48] devlamine commented on #55
Thanks so much dear !

[2021-06-13 17:36] #55 closed

[2021-06-13 17:36] #54 closed

[2021-06-13 17:36] #53 closed

[2021-06-13 17:36] #52 closed

[2021-06-13 17:36] #51 closed

[2021-06-13 17:37] #49 closed

[2021-06-17 04:25] samlovescoding commented on #46
Can you provide demo admin role on demo heroku deployment

[2021-06-18 06:27] smartupnish opened #58 "Wishlist and Cart Items get retain from my previous account when I create a new account."
Wishlist and cart item get retain from my previous account when I create a new account.

**Steps to reproduce**

1. Login with your existing account
2. Add few products to your wishlist and cart
![image](https://user-images.githubusercontent.com/64981592/122515720-b3147700-cfc2-11eb-8be3-f885cea962c6.png)
3. logout the account and create another account.
![image](https://user-images.githubusercont

[2021-06-18 06:44] nish0007nish commented on #58
Hi Samara,

I open the bug, It seems like we are getting wishlist and cart items from the unique IP of the device that matches this case. While creating another new account on the same device. It should be considered as the new person. As it can create a privacy problem for a user that shows the list of the item he/she adds to a wishlist or cart.

As per my conclusion: We should not add any item t

[2021-06-18 07:01] nish0007nish opened #59 "There is an unnecessary gap between user review and add review"
There is an unnecessary gap between user review and add review

![image](https://user-images.githubusercontent.com/64981592/122519996-f6bdaf80-cfc7-11eb-95a2-5f94d8e1799b.png)

**Expected** There should not be an unnecessary gap between user review and add review
**Actual** there is a huge gap between both user review and add review

[2021-06-18 07:02] nish0007nish commented on #59
It is when only one review is added by the user and no other review is there

[2021-06-19 07:22] mohamedsamara commented on #59
@nish0007nish thanks for reporting. Yes I see it. Will add a fix.

[2021-06-19 07:28] mohamedsamara commented on #58
@nish0007nish This should not retain both items for new accounts. I'll look into it. Did you signup through Google/Facebook providers for the other account?

[2021-06-20 13:43] nish0007nish commented on #58
@mohamedsamara Yes, the first time I logged in using google. Then, I created a different account with a different email ID.

[2021-06-20 18:13] nish0007nish opened #60 "Incorrect calculation of tax shown on the order summary when the user places an order with multiple items or more than 1 quantity"
Incorrect calculations of tax shown on the order summary when the user places an order with multiple items or more than 1 quantity.

**Steps to reproduce**

1. User opens a product page and adds more than 1 quantity.
2. User clicks on add to cart button.
3.  The user opens another product page and adds that product to the cart.
4. User clicks on "Place Order" and "Your Order" list will open.
5. Us

[2021-06-20 18:45] smartupnish opened #61 "Product from the cart gets disappear when user use another tab to adds new product to the cart"
Product from the cart gets disappears when the user uses another tab to adds a new product to the cart.
It happens when the user uses another tab that already open before adding a product to the cart from the first tab.

**Steps to reproduce**

1. User opens a product page. (Says "Tab 1")
2. User opens another product page in a new tab. (Says "Tab 2")
3. User adds item/product to the cart from the

[2021-06-20 20:50] mohamedsamara commented on #60
@nish0007nish thank you for reporting this issue. I agree, this must be calculated for each item quantity.

[2021-06-20 23:01] mohamedsamara commented on #46
@samlovescoding here is an admin [demo](https://mernstore-bucket.s3.us-east-2.amazonaws.com/admin.mp4)

[2021-06-20 23:09] #59 closed

[2021-06-21 01:41] #60 closed

[2021-06-21 04:30] nish0007nish commented on #60
@mohamedsamara As per my investigation on bug #63 , It seems like this feature requires a short modification at the quantity level.

Look, When both items are ordered with a single quantity then tax calculation works fine.
![image](https://user-images.githubusercontent.com/64981592/122704692-0b3cba80-d209-11eb-89b3-9e04c5c5033c.png)
but when the quantity is increased and ordered with more than 1 q

[2021-06-21 04:38] nish0007nish opened #64 "Enhancement: Adding "My Cart" | "Wishlist" | Recently Viewed tab on cart popup."
Adding all necessary tabs that may have the best probability of the user buying them earliest. It is an intuitive approach that can help users to make decisions based on their choice at the top of the website.

Example:

![image](https://user-images.githubusercontent.com/64981592/122707811-a042b200-d20f-11eb-987e-699fe0879312.png)

[2021-06-21 04:40] nish0007nish commented on #64
@mohamedsamara please consider adding a "Move To wishlist" button on each item of the cart. Thanks

[2021-06-21 05:09] mohamedsamara commented on #64
@smartupnish thanks for the suggestion, It would be a nice feature. This feature is not on the priority list but I'll keep it open for future.

[2021-06-21 05:59] mohamedsamara commented on #60
@smartupnish this will be fixed when deploying to production.

[2021-06-21 06:13] #58 closed

[2021-06-21 06:27] mohamedsamara commented on #58
@smartupnish The wishlist items is fixed. For the current cart implementation I can't find a reason to clear out the cart when the user switches accounts because they will lose it considering (the cart is not maintained on the server and is handled on the browser), cart is sent to the server only when the user places an order.

[2021-07-06 06:35] rajkeshri77 opened #70 "Where to find Customer Orders in Admin Dashboard and change its status"
Hi,

I am not able to see customers orders in Admin or Merchant Dashboard. Is there any way to see pending orders of customer and change it status?

[2021-07-06 06:53] vishalsharma1505 opened #71 "Admin Order details"
from user prospective , If I've ordered some item and i can see that on orders but from admin/merchant prospective, i'm unable to see what user has ordered for him/her and also where can i see the contact us details data?
Thanks in advance!

[2021-07-07 23:05] monecchi opened #72 "Great project! Please keep it going 👋🙌"
I've learnt a few new things about `mongodb` Schema modeling and nodejs api backend set up simply by testing your project, thanks a lot! Please keep it going!

[2021-07-10 05:42] mohamedsamara commented on #72
Thank you @monecchi. I'm glad this project helped you.

[2021-07-10 05:44] mohamedsamara commented on #71
@vishalsharma1505 yes both customer orders and contact us features are in development at the moment. I would say they will be in production next week.

[2021-07-10 05:46] mohamedsamara commented on #70
@rajkeshri77 it is in development at the moment. It will be in production next week.

[2021-07-12 05:34] rajkeshri77 commented on #70
Okay, Thanks!!

[2021-07-12 05:34] #70 closed

[2021-07-12 06:03] vishalsharma1505 commented on #71
@mohamedsamara oh , thanks mate :)

[2021-07-12 06:03] #71 closed

[2021-07-14 09:01] vishalsharma1505 opened #74 "Order details"
Hi There ,

First of all thank you for putting this website on GitHub , this is really helpful :)

Well my issue is that i can't see all orders at a time , i have to manually search the orders from the order id and even I've to get that order id from user dashboard.

Thanks in advance!

[2021-07-14 15:50] phanindra-max opened #75 "ValidationError: Can't run the project locally"
I've cloned the repo and added those API keys as said in the documentation.

But the application doesn't seem to run and showing me this error:
![image](https://user-images.githubusercontent.com/51989959/125652432-02040c51-f50c-4e72-a74a-b3b787ef647b.png)

can someone tell me where am I going wrong?

[2021-07-14 16:05] phanindra-max commented on #75
Okay just found what causes the problem

The issues arise due to breaking changes in webpack new version
[Stackoverflow](https://stackoverflow.com/a/62680933/13181329)

[2021-07-14 16:08] phanindra-max commented on #75
Now that the previous error is gone, another comes up due to these breaking changes.

So are you @mohamedsamara interested in updating this for the new version? I hope you do.

If you're interested I'll fix these new update-related issues and raise a pull request. Is that fine?

[2021-07-14 16:21] #75 closed

[2021-07-14 19:54] mohamedsamara commented on #75
@phanindra-max sure! feel free to make a PR and I'll check it and merge.

[2021-07-16 11:32] kumranbiz commented on #72
Really helpfull project this..i can learned lot

[2021-07-23 06:35] ajithv11 opened #76 "npm start error"
I am getting the following error when I tried to start the application

mern-ecommerce/server/routes/api/product.js:292
    if (!productDoc || productDoc?.brand?.isActive === false) {
SyntaxError: Unexpected token '.'

Could you please help me.

Also help me in migrating the mongo db data to my local system

[2021-07-23 17:34] himanshujaidka commented on #76
to migrate the db, @ajithv11 go to .env file and replace the `MONGO_URI=mongodb://localhost:27017/YourDBName`

[2021-07-23 17:34] himanshujaidka opened #77 "how to access admin panel"
@mohamedsamara pls help me to get the admin panel

[2021-07-23 18:11] himanshujaidka commented on #77
resolved

[2021-07-23 18:11] #77 closed

[2021-07-23 18:23] himanshujaidka opened #78 "Error: Unknown authentication strategy "jwt""
after sign-in, and willing to perform various actions but this error will not allow me to perform.

[2021-07-23 18:45] mohamedsamara commented on #74
@vishalsharma1505 There is a lot of orders data to display. I think implementing pagination might work just fine for now.

[2021-07-23 20:00] ajithv11 commented on #76
What about the error i have mentioned in the first post, I could not get rid of that

[2021-07-24 05:37] himanshujaidka commented on #76
pls provide some more details

[2021-07-24 05:41] vishalsharma1505 commented on #74
Actually i'm not bale to see single order , i've to mainly search them all.

[2021-07-24 07:21] himanshujaidka commented on #76
@ajithv11 refer to this https://github.com/mohamedsamara/mern-ecommerce/issues/49

[2021-07-25 18:24] smartupnish opened #79 "The User is unable to search orders with orderID after completing the order placement process."
The user is unable to search orders with orderID after completing the order placement process.

**Steps to reproduce**
1. User adds any product to the cart.
![image](https://user-images.githubusercontent.com/64981592/126909167-31a906a0-e538-4fa4-b808-e5586a49939a.png)
2. User clicks on "Place Order" and copy the orderID.
![image](https://user-images.githubusercontent.com/64981592/126909198-bf7c571

[2021-07-25 18:43] smartupnish opened #80 "There is some issues in the calculation part when user initiates cancel order."
**Steps to reproduce**
1. User adds product/item into the cart.
![image](https://user-images.githubusercontent.com/64981592/126909638-7098453a-0e75-46a4-bb3c-8ba6249fe151.png)
2. User places the order and click on order ID to view the order details.
![image](https://user-images.githubusercontent.com/64981592/126909661-91b65d63-f46e-474c-877e-3329ac1669a6.png)
3. Verify the calculations before init

[2021-07-25 18:45] smartupnish commented on #80
@mohamedsamara @karthikeyana Please note that the Estimated tax also dropped after the completion of cancellation.

[2021-07-25 23:45] mohamedsamara commented on #79
@smartupnish Does the order show in the list before typing in the search?

[2021-07-26 00:34] mohamedsamara commented on #74
@vishalsharma1505 Yes, orders are not displayed now. This is why I added the search part of the solution. It will be time expensive to retrieve all orders data from the server and rendering them on the frontend. I'm looking to implement pagination where admin can view(paginate) through all orders and maybe filtering and sorting in the future.

[2021-07-26 00:39] mohamedsamara commented on #80
@smartupnish yes the total tax will be recalculated when items are cancelled. I pushed a fix for the refresh issue.

[2021-07-26 00:44] #80 closed

[2021-07-26 00:52] mohamedsamara commented on #78
@himanshujaidka can you please send a screenshot of the error? Is it showing in the terminal? This sounds like jwt or passport module is not imported.

[2021-07-26 01:16] mohamedsamara commented on #76
@ajithv11 I was wondering if you still get the error after you have set up the database or if there are any database errors before this error?

[2021-07-26 05:41] smartupnish commented on #79
@mohamedsamara No, It doesn't show in the list as well before typing in search.

[2021-07-26 19:01] smartupnish commented on #80
Thanks, I'll check it out and let you know once it's done.

On Mon, Jul 26, 2021, 6:14 AM Mohamed Samara ***@***.***>
wrote:

[2021-07-27 05:54] mohamedsamara commented on #79
@smartupnish I know from the order id that the order was created but just to double check can you please check if it is in the database in case this page with success order is not an old order that was deleted. Also I'm curious if you see the order when you go to the order page /order/[orderID].

[2021-07-28 01:06] smartupnish commented on #80
Still not working,
![image](https://user-images.githubusercontent.com/64981592/127247163-25db4eba-abb2-4169-8312-48b556c337cf.png)
Shows the same price in the total after canceling the order.

[2021-07-30 17:59] himanshujaidka commented on #78
![Screenshot (62)](https://user-images.githubusercontent.com/58654018/127693529-6ae86e67-12fc-451b-92f6-53da92567670.png)

[2021-07-30 18:00] himanshujaidka commented on #78
I have import this modules again

[2021-08-01 21:19] player1on3 opened #82 "Add AverageRatings to product shop/list"
Hey Mohamed, first of all thank you so much for this amazing project, Its really helpful for project we are submitting for our sem, we have made few changes but was unable to fetch averageRatings to product shop(like any other ecommerce website). Its really necessary part of the project, will you please add this feature, it will just take you a few minutes. Thanking in advance:)

[2021-08-02 01:33] mohamedsamara commented on #78
@himanshujaidka It look like the passport configuration file isn't injected in the server entry file. Do you see the error even with this [line](https://github.com/mohamedsamara/mern-ecommerce/blob/master/server/index.js#L39) there? Can you please share the steps to reproduce it, what page, what action or api you are trying to call?

[2021-08-02 09:38] himanshujaidka commented on #78
when I am calling any API even if it is signing API or signup this error is reproduced. for example when I am creating the user every time this error occurs in the network window

[2021-08-02 09:49] himanshujaidka commented on #78
@mohamedsamara thanks sir, actually I have commented out the file inside `config/passport` 😅 for some reason and forgot to uncomment that.

[2021-08-02 09:49] #78 closed

[2021-08-03 11:12] player1on3 commented on #82
Can you please atleast tell us sir, how can be do that? Anyone here who can help us with this? **#urgent**[
![Screenshot 2021-08-03 at 4 36 28 PM](https://user-images.githubusercontent.com/88291884/128006054-8ff23c66-f70d-4d56-9923-c1958a952ce8.jpg)
](url)

[2021-08-06 01:32] mohamedsamara commented on #82
Hi @player1on3! sorry for the late response. I wish I could help more and implement it, my time schedule is tight now. Here are some thoughts on how to implement it. The review api logic for an individual product query already exist, here [API](https://github.com/mohamedsamara/mern-ecommerce/blob/master/server/routes/api/review.js#L52). In order to have the reviews for all the fetched products on

[2021-08-06 09:47] karthikeyana commented on #82
Hi @player1on3  @mohamedsamara
     I have implemented this feature., I will update the code this coming Sunday, due to the incomplete work of other features.

![image](https://user-images.githubusercontent.com/10651426/128492072-8ab7b79b-151f-498e-a631-4fc7c5f2dfa8.png)

[2021-08-06 16:54] player1on3 commented on #82
Thank you so much, @karthikeyana  and @mohamedsamara for replying. We are having one more issue regarding merchant profile. So the thing is even if i change the ROLE_MEMBER TO ROLE_MERCHANT it shows the dashboard of the role member. How do i fix it? and yes i am changing the roles from Database collection.

[2021-08-07 02:08] mohamedsamara commented on #82
@karthikeyana I see more than one feature in the screenshot. I know you are working on the shop filter on the left. Please consider splitting those features into multiple PR's, it will be easier to review and merge. Thanks!

[2021-08-07 02:29] mohamedsamara commented on #82
@player1on3 you need a merchant id associated with the account and this happen when the admin approve the merchant account. If you have an admin role account, from the dashboard go to merchant page and approve your merchant account or the application you submitted to be a merchant from this [page](https://mern-store-80202.herokuapp.com/sell). Approve function work like [this](https://github.com/mo

[2021-08-13 13:16] shivamm112 opened #85 "my questions related to project and structure"
I just tested this project and it's really well setup. Just amazing! I wanted to ask a few questions as I couldn't find it online. I am a junior developer so I wanted to level up.

1. I saw that you structured it really well, the redux part and everything. But I did not understand, why didn't you keep the client and server fully separate? As I can see the dependencies for both server and client ar

[2021-08-22 21:13] #72 closed

[2021-08-29 13:09] Mugerwa-Joseph opened #87 "Admin Merchant Registration."
I would suggest to give the admin the capacity to manually register merchants.

[2021-08-29 13:31] Mugerwa-Joseph opened #88 "AWS Alternatives."
What alternatives would you suggest instead of AWS,

Thanks for the massive efforts invested into the project.

[2021-08-29 18:35] mohamedsamara commented on #88
Thank you @Mugerwa-Joseph! There is quite few alternatives to AWS out there like Google Cloud Storage and Azure but since the project is using AWS S3 only to save images I would suggest something like [cloudinary](https://cloudinary.com/documentation/node_image_and_video_upload#server_side_upload).

[2021-08-29 18:38] mohamedsamara commented on #87
@Mugerwa-Joseph Definitely! I agree. It might not be on the top priority list but will need it at some point.

[2021-09-03 13:56] Mugerwa-Joseph commented on #88
Thanks @mohamedsamara
Your time and efforts are highly appreciated.

[2021-09-06 19:10] #88 closed

[2021-09-07 02:11] mohamedsamara commented on #85
Hi @shivamm112! I'm glad you like the project!

Q1: I didn't have any reason to separate both client and server any further, I saw this practice online and tried it in this example and I tried to use the shared configuration as much as i could. However, there is a lot of updates about code structure and best practices now, like for example SSR, SSG with Next.js and Gatsby so these are the industry

[2021-09-07 18:50] mohamedsamara commented on #79
Hi @smartupnish! Sure send me a message on [LinkedIn](https://www.linkedin.com/in/mohamed-samara/) and will go over those issues.

[2021-09-07 18:50] #79 closed

[2021-09-20 00:36] #76 closed

[2021-09-28 18:31] iarobinson commented on #15
@mohamedsamara - FYI - When I cloned the repository, I still have to add `none` to mailchimp and mailgun keys in order for the app to run. I also need to comment out a lot of the logic for MailChimp.

Then I'm running into the following error:
[code]

This looks like maybe my database needs to be seeded....

[2021-10-06 12:05] zidingz opened #94 "Found a possible security concern"
Hey there!

I belong to an open source security research community, and a member (@ktg9) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to

[2021-10-11 14:44] 0xAb3l opened #96 "Security Issue"
Hi sir this is the issue i have reported via huntr dev

# Description
it can be possible to perform a clickjacking attack due to the lack of frame restrictions. The application does not set the response header X-Frame-Options: DENY.

 # Proof of Concept

<html>
    <head>
        <title>Clickjack test page</title>
    </head>
    <body>
        <iframe src="https://mern-store-80202.herokuapp.com/"

[2021-10-24 00:33] mohamedsamara opened #97 "Shop page (Product list) ui styles"
**Describe the bug**
* On shop page (product list): Product link container is short like in screenshot attached. When keyboard tab the list, the outline border shows in different heights depending on each product content. It needs to contain the entire product link container.
* Bottom details (Price * review stars) are not aligned for all products in the list, same reason above (content is differe

[2021-10-24 01:07] mohamedsamara opened #99 "Sanitize and validate review inputs"
Sanitize and validate reviews input on frontend & backend. Create helper to reuse it in the entire application.
<img width="677" alt="Screen Shot 2021-10-23 at 5 57 36 PM" src="https://user-images.githubusercontent.com/45723974/138575987-2307a754-13d8-4331-8b04-a9d3500645ce.png">

[2021-10-31 06:48] mohamedsamara commented on #97
Thanks @smartupnish! Yes I agree! This is fixed with css flex box to push the bottom box to the very bottom making all the list aligned. And with the text ellipsis (max - two lines) on product description, this will look much better now.

[2021-10-31 06:53] #97 closed

[2021-10-31 09:30] mohamedsamara commented on #15
Thanks @iarobinson! There is a fix merged to handle missing keys error, it will no longer throw an error and the website should run without the keys. The second error you posted I wasn't able to reproduce yet but I would also say the database needs to be seeded. However, I still want to reproduce it so it does not throw this error.

[2021-11-15 02:09] mohamedsamara opened #103 "Add a payment method solution to enable checkout and collecting payments"
**This is a placeholder feature task for payment solution.**

* Looking into [Stripe Connect](https://stripe.com/docs/connect).
* Merchants need to connect their account to the MERN store stripe account in order to collect payments when customer buy their products.
* Merchants brand and products are inactive when merchant stripe account is not connected.
* We need to add/create payment fields to o

[2021-11-16 13:00] akash-2095 opened #104 "Fetch brand API throwing 400 bad request error"
Can anyone help me with the configurations? I'm a beginner trying to understand the full stack system.
- I don't see the end points for these APIs and wanted to understand how the mongoose connection was working?
- Why is the Brand and Product fetching API call failing for me in my local environment but category and other APIs are working?

[2021-11-17 05:05] #104 closed

[2021-11-18 07:27] smartupnish opened #105 "No online user found at the admin support tab on dashboard after sending support message by a user/customer."
**No online user found at the admin support tab on the dashboard after sending support message by a user/customer**
Support functionality is not working expected as online users are not shown at the admin dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the 'Support tab from the admin side' by login to the admin account
2. Go to the 'Support tab from the user/customer side' b

[2021-11-19 22:31] eduardodiasc opened #106 "Problem with sending email"
Hello.
First of all, congratulations for the excellent work.

I found a problem sending email.
When I register, I'm not sending an email because it gives the error below.

If I just pass the firstName, it works.

1) template.js
exports.signupEmail = name => {
  const message = {
    subject: 'Account Registration',
    text: `Hi ${name.firstName} ${name.lastName}! Thank you for creating an account

[2021-11-21 02:11] mohamedsamara commented on #105
Hey @karthikeyana! can you please check this issue? I know you know more about this feature. Thanks!

[2021-11-21 02:12] mohamedsamara commented on #106
Thank you @eduardodiasc! Will double check that.

[2021-11-21 04:10] karthikeyana commented on #105
Sure @mohamedsamara  Will have a look.

[2021-11-21 16:31] karthikeyana commented on #105
For the Same Network and different browsers within the system, it works expected behaviour. @smartupnish  give me some more details please.

[2021-11-21 22:32] mohamedsamara opened #107 "Styling support chat"
* Support tab in account page needs styling that matches the rest of the website theme.

[2021-11-21 22:33] mohamedsamara commented on #107
<img width="1228" alt="user" src="https://user-images.githubusercontent.com/45723974/142781529-d5905c50-180c-42c5-8fea-375afcbcae4c.png">
<img width="1228" alt="admin" src="https://user-images.githubusercontent.com/45723974/142781532-e6933bb2-00e2-40a6-97b7-67af4921b54b.png">

[2021-11-21 22:34] mohamedsamara commented on #107
@karthikeyana  Can you check this one please? After I deployed I noticed the styling are a bit off. Let's make it match the other components theme.

[2021-11-21 22:35] #85 closed

[2021-11-21 22:35] #94 closed

[2021-11-22 00:49] #106 closed

[2021-11-22 05:41] smartupnish commented on #105
@karthikeyana Could you please tell me what kind of extra details you expect from me? I tried it on a different network and browser, and it did not behave as expected.

[2021-11-22 05:52] karthikeyana commented on #105
@smartupnish https://join.skype.com/invite/ccOXCw31kMWS this is my skype id, ping me we can discuss.

[2021-11-23 16:15] karthikeyana commented on #105
Hi @smartupnish, For me working fine in Heroku deployment

URL: https://mern-store-80201.herokuapp.com/

Admin Credential:
user name: tfs123@yopmail.com
password: tfs123

User Credential:
user name: tfs@yopmail.com
password: tfs123

Please use the above credentials to validate the support functionality. If you have doubts please let me know. If the functionality works the expected way please close

[2021-11-23 16:23] smartupnish opened #110 "Add discounted rate at the product"
**Is your feature request related to a problem? Please describe.**
Add <discountedRate> at the product.

**Describe the solution you'd like**
Add <discountedRate> at the product that can be managed by the merchant. So, It can help them to increase the conversion rate as follows.

- Increasing sales
- Acquiring new customers
- Enhance the reach of unsold or declining products
- Promoting new produc

[2021-11-23 16:48] smartupnish commented on #105
Thanks, @karthikeyana This is working as expected. Now, Admin is able to see the online user and able to chat with the member/merchant.

[2021-11-23 16:48] #105 closed

[2021-11-23 17:29] smartupnish opened #111 "Incorrect status is shown at the admin side and chat is not retained at the member side after refreshing the page."
**Describe the bug**
Incorrect status is shown at the admin side and chat is not retained at the member side after refreshing the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the 'Support tab from the admin side' by login to the admin account
2. Go to the 'Support tab from the user/customer side' by login in as a user with a different machine/browser.
3. Member- Send text from

[2021-11-25 15:46] karthikeyana commented on #107
Hi @mohamedsamara.,

I have improved the Support Feature styling UI component please review the same and let me know if any further changes are required.

**Pull Request:** Support Feature UI Improvement done #112

User Account:

![image](https://user-images.githubusercontent.com/10651426/143470283-e076595a-e8b9-4690-96a8-2906656cec55.png)

Admin Account:

![image](https://user-images.githubuserco

[2021-12-06 01:37] #107 closed

[2021-12-20 13:44] forestrr opened #115 "initial issue of deveopment"
iam not able run this code on my machine
if (!productDoc || (productDoc && productDoc?.brand?.isActive === false))
SyntaxError: Unexpected token '.'
![Screenshot from 2021-12-20 17-45-43](https://user-images.githubusercontent.com/85434609/146776941-a356375b-317a-477a-b43b-5e09e90d6d43.png)

[2021-12-28 13:41] KumX55 opened #116 "How can i upload product images locally ?"
i don't have aws, i've been trying to store images locally but i couldn't.

[2022-02-19 19:54] kainatkiranrashid2 commented on #87
Hello Mohamed Samara, First of thankyou for making such a wonderful project, I was looking into it, I downloaded the project and it is running perfectly, but I dont understand where to access admin panel, Pls respond

[2022-02-19 20:06] kainatkiranrashid2 opened #121 "Can't access admin side"
Dear Mohamed Samara,
First of all, thankyou for putting this on github.

Secondly, one issue I am facing , is that I am not able to get access admin portion of the website. Pls guide me how can I ?

I will be very much thankful to you for this

[2022-02-20 01:17] karthikeyana commented on #121
Hi Please find details

Demo:

URL: https://mern-store-80201.herokuapp.com/

Admin Credential:
user name: [tfs123@yopmail.com](mailto:tfs123@yopmail.com)
password: tfs123

User Credential:
user name: [tfs@yopmail.com](mailto:tfs@yopmail.com)
password: tfs123

[2022-02-23 19:26] kainatkiranrashid2 opened #122 "Products not shown in product page"
Hello , Mohammad Samara,
I have added few products, but these are not shown when i click shop Pls check and help me get the solution,

Thanks
![image](https://user-images.githubusercontent.com/97904362/155393090-bc08633d-af7a-4716-88a0-3033313922b2.png)

![image](https://user-images.githubusercontent.com/97904362/155392668-b0dc9ba2-4eed-46b2-b348-b04fd95e5d38.png)

[2022-02-24 19:14] mohamedsamara commented on #122
@kainatkiranrashid2 make sure the product is active. From the sidebar products, click on any product to edit and change "is active" field to active so that it appears on the shop.

[2022-02-24 19:16] kainatkiranrashid2 commented on #122
It is active, but still does not show up

[2022-02-24 19:21] mohamedsamara commented on #122
Try to add brand and assign the product to the brand and see if it shows up, make sure  brand is active. There is a chance it is not pulling products with no brands.

[2022-02-24 19:28] kainatkiranrashid2 commented on #122
Brands products are shown in brands, but when i click shop , they do not show their as well

[2022-03-08 10:17] errorLAD opened #124 "can't receive any type of email"
-forgate email
-new signup email
-seller email
can't receive any type of email
i

[2022-03-09 09:21] #124 closed

[2022-03-09 09:50] errorLAD opened #125 "merchant not received order details"
order details is not received

[2022-03-11 06:30] smartupnish commented on #122
@kainatkiranrashid2 Seems like you have added a price of more than $500. Due to which filters are restricting it to show you. You can remove the hard-coded part from the code and assign the largest price of products in the filters.

[2022-03-16 11:23] kainatkiranrashid2 commented on #125
I am faceing the same problem @mohamedsamara could you pls guide

[2022-03-31 14:20] afreedituttu opened #126 "I cant access admin panel"
As the creditanals for admin and user is same that you provided, when i login with that creditanals i login as a user not as a admin, how do i access admin panel. Is the login form for admin and user is same?

[2022-03-31 14:41] #126 closed

[2022-03-31 14:42] afreedituttu commented on #126
That was my mistake

[2022-05-03 20:41] manisha1994-coder opened #127 "Unable to login admin with the given credentials"
I login with the provided credentials tfs123@yopmail.com but i was unable to login.

Can you help me in logging in admin panel .

[2022-05-04 03:03] mohamedsamara commented on #127
@manisha1994-coder did you try to reset password? An email will be sent to your email, open it and follow the link to reset and create new password.

[2022-05-05 03:54] manisha1994-coder commented on #127
I did not receive any mail, also when I'm logging in with this credentials ID: tfs123@yopmail.com and pwd: tfs123 to access the admin side it is throwing error(user not found).

Pls help me to access the admin side.

[2022-05-06 01:58] mohamedsamara commented on #127
@manisha1994-coder if it says "user not found", it means there is no record in database for this email. Are you getting this error on your local machine? and did you connect your own database? If yes, please try to sign up instead and see if there is any errors.

[2022-05-08 22:46] mohamedsamara commented on #121
@kainatkiranrashid2 @afreedituttu This is a demo on how the admin panel looks like, [admin panel](https://mernstore-bucket.s3.us-east-2.amazonaws.com/admin.mp4). There is no way to log in as admin in the production environment because it has all control access to data. However, you can be an Admin when you run the project on your local machine, you might have to change DB role value of your accoun

[2022-05-08 22:51] mohamedsamara commented on #111
@smartupnish the entire support chat module has been refactored, a [PR](https://github.com/mohamedsamara/mern-ecommerce/pull/114) was raised and merged just recently. It might worth to re-test it and see if any of these issues still happen.

[2022-05-08 23:00] #96 closed

[2022-05-09 01:54] mohamedsamara commented on #115
@forestrr I tried to initialize the project with no db collections and still didn't see this error. How does your database collections look like? Are there any seeded data already?

[2022-05-09 02:24] mohamedsamara commented on #122
@kainatkiranrashid2 please make sure the product is assigned to a brand or they won't appear in the shop.

[2022-05-09 06:38] mohamedsamara opened #129 "Add auto deployment"
**Describe the solution you'd like**
1. Remove webpack middleware from backend node environment.
2. Setup Heroku code pipeline.

[2022-05-09 07:12] #129 closed

[2022-05-14 12:23] 127001sudais commented on #127
you can go in your db and then change your user to "ROLE_ADMIN" if you are developing the app

[2022-05-18 07:13] Mugerwa-Joseph commented on #87
@kainatkiranrashid2 ,
Hope you managed to access the admin panel, if not, all you need is to create a user with the ROLE_ADMIN, and login with that user. The system will automatically redirect you to the admin panel.

Just in case you fail to create the user, you can modify the user straight from the database and change the role to ROLE_ADMIN.

Check the sample below:
![Admin](https://user-images.

[2022-05-18 09:23] Mugerwa-Joseph commented on #122
Perfect, Thanks for the fix, I was worried as well.
Just look for the range slider component under client/app/components/common/RangeSlider and change the maximum value to cater for your needs.

[2022-05-18 10:21] Mugerwa-Joseph opened #131 "Can't create other users"
After creating the first user, the system is not allowing creation of other users.
What could be the cause?

[2022-05-25 08:13] vissharm opened #132 "Discussion / Clarification - Please do spend time to respond."
Question is related to below entries of config/env file. Please answer inline.

  * MONGO_URI & JWT_SECRET - **I hope we could give any JWT string secret key. Yes/No ?**
  * PORT & BASE_SERVER_URL & BASE_API_URL & BASE_CLIENT_URL - **Hosting everything together at one server (backend and frontend) is secure ? Or we could deploy separately also?**
  * MAILCHIMP_KEY & MAILCHIMP_LIST_KEY => Mailchimp

[2022-05-25 22:31] hamza4707 commented on #122
Products are not shown in SHOP ,all are assigned to brand and with in the the price range but cant see in brands or shop and every product is active as well

[2022-05-25 22:35] hamza4707 commented on #104
@akash-2095 what's the solution of this problem? I'm also facing the same issue

[2022-05-26 07:52] vissharm commented on #132
@mohamedsamara Could you please reply on this?

[2022-06-02 23:35] mohamedsamara opened #134 "Add ability to deactivate merchant account"

[2022-06-02 23:36] mohamedsamara opened #135 "Add Merchant list search"
* Add search feature to the merchant list
* Same like users list search

[2022-06-02 23:37] mohamedsamara opened #136 "Add Pagination - Merchant Lists"
* Add Pagination - Merchant Lists

[2022-06-02 23:41] mohamedsamara opened #137 "Add dummy data with seed functionality for Products, Brands, Categories"
* Add the ability to run a script to populate the database with dummy ecommerce data including brands, products, categories

[2022-06-02 23:43] mohamedsamara commented on #132
Hi @vissharm! I apologize for my late reply, I was buried in work. Here are my answers to you questions:

JWT_SECRET: You can run the following command to generate one
[code]
PORT & BASE_SERVER_URL & BASE_API_URL & BASE_CLIENT_URL: I haven't tried to separate frontend/backend, you need to do extra work to do it. This project is an example of using both in the same repo

MAILCHIMP_KEY & MAILCHIMP_L

[2022-06-02 23:44] mohamedsamara commented on #131
@Mugerwa-Joseph are you referring to the seed database logic?

[2022-06-02 23:45] mohamedsamara commented on #127
There is a guide on adding an admin user with this [guide](https://github.com/mohamedsamara/mern-ecommerce#database-seed) now. Closing this issue.

[2022-06-02 23:45] #127 closed

[2022-06-03 00:50] mohamedsamara opened #138 "Add Product SKU specifications"
* Add rules to how SKU is created
* Validations and rules before creating SKU

[2022-06-03 02:38] #61 closed

[2022-06-03 06:17] mohamedsamara opened #140 "Add Pagination - User Lists"
* Add Pagination - User Lists

[2022-06-03 06:18] mohamedsamara opened #141 "Add Pagination - Customer Order Lists"
* Add Pagination - Customer Order Lists

[2022-06-03 06:22] #136 closed

[2022-06-03 08:20] vissharm commented on #132
Thanks

[2022-06-03 23:29] #74 closed

[2022-06-03 23:29] #141 closed

[2022-06-04 01:40] #140 closed

[2022-06-04 01:58] #132 closed

[2022-06-04 01:59] #135 closed

[2022-06-04 06:59] #134 closed

[2022-06-04 07:21] mohamedsamara opened #149 "Add Reviews pagination"

[2022-06-04 07:33] #149 closed

[2022-06-04 07:35] mohamedsamara commented on #125
@errorLAD @kainatkiranrashid2 can you please provide more information on the issue?

[2022-06-06 07:19] vaibd opened #151 "hamburger menu not visible"
When opening the website, it doesn't load menu to browse diff categories and products.

**Screenshots**
In SS it is doesnt show the hamburger menu as seen in the heroku deployment.
![image](https://user-images.githubusercontent.com/38762713/172113499-5086e0cc-155f-4ebb-b331-86e8a68e9c71.png)

Also, this how my .env file looks like

**Desktop (please complete the following information):**
 - OS: [e

[2022-06-06 08:54] mohamedsamara commented on #151
@vaibd the hamburger menu appear when there is active categories. Please try to add categories from the admin panel and the menu should appear afterward. Make sure the category is active.

[2022-06-07 02:13] mohamedsamara opened #152 "Add to Wishlist doesn't refresh correctly"
* Investigate the props passed to the AddToWishlist and Checkbox components.

[2022-06-07 07:34] #99 closed

[2022-06-07 07:34] #138 closed

[2022-06-07 07:34] #152 closed

[2022-06-07 16:56] vissharm opened #154 "No support for product options / aattributes (standard and custom) on which also user could filter (slider section)"
Suppose if there is a apparel/clothing brand and he have different sizes of cloths M, S, XL etc... similarly we could also have different custom attributes/options for different brands/categories. No support seems to be for that. Big miss as per ecommerce site.

[2022-06-07 19:03] vissharm opened #155 "[Refactoring] Add/Edit forms seems to be duplicate. Could reuse fields with editable capability controlled by flag if required."
Add/Edit forms seems to be duplicate. Could reuse fields with editable capability controlled by flag if required.

[2022-06-07 19:04] vissharm opened #156 "Dimension (text) and Weight (number / double) should be added to product table"
Dimension (text) and Weight (number / double) should be added to product table.

[2022-06-08 05:26] vissharm opened #157 "Admin page should have search functionality for products/categories/brands etc to search,edit or delete item quickly"
Admin page should have search functionality for products/categories/brands etc to search,edit or delete item quickly

[2022-06-08 06:04] vissharm commented on #157
if user has hundreds of products, then functionality is very much required.

[2022-06-08 06:07] vissharm opened #158 "[Incomplete product collection design] Cart items are not persisted to database. It's only persisted post placing order."
Product collection design looks incomplete. Cart table should be populated asap user add item to bag and delete item from table if user remove item from cart. If browser is reopened or cache cleared, the cart section should be able to fetch items from database based on user login.

[2022-06-08 12:58] vissharm commented on #158
Also, do we need to maintain user sessions in database.... ecommerce dbs do that.... what would be its significance ? not sure.

[2022-06-08 14:12] Mugerwa-Joseph commented on #87
Great.
Thanks @mohamedsamara

[2022-06-08 14:18] Mugerwa-Joseph commented on #131
**@mohamedsamara** Yes, how can I get over that?

[2022-06-08 20:35] mohamedsamara commented on #131
@Mugerwa-Joseph you can pass different email as an argument. [Guide](https://github.com/mohamedsamara/mern-ecommerce#database-seed)

[2022-06-08 20:40] mohamedsamara commented on #151
Closing this Issue.

[2022-06-09 05:10] vissharm commented on #154
Thinking of it... will share table design ...

[2022-06-09 19:33] #131 closed

[2022-06-13 12:33] devogi commented on #116
@KumX55 Could you solve it?

[2022-06-13 12:49] devogi opened #159 "Can't Upload image"
When I try to add Product image from add product page, it gives Error.
Also I didnt Add AWS key yet. İs it necessary?
![Screenshot_265](https://user-images.githubusercontent.com/75084633/173357179-4581bac3-b09c-434f-8f33-41f19290217a.png)

[2022-06-13 22:01] mohamedsamara commented on #159
@devogi yes! the uploading image code is using AWS S3.

[2022-06-15 19:28] mohamedsamara commented on #159
@devogi most likely, I don't think the add product has issues, it has to be about missing AWS keys.

[2022-06-23 11:13] frontend56 opened #160 "Possible issues with webpack/procfile"
I'm trying to deploy the app on heroku but I'm getting these errors:
 1- Failed to load ./.env.
2- at=error code=H10 desc="App crashed" method=GET path="/"
3-at=error code=H10 desc="App crashed" method=GET path="/favicon.ico"

[2022-06-29 13:54] miidlaj opened #161 "Can't sign up with Google and Facebook"
directing URL : localhost:3000/undefined/auth/google

[2022-06-29 15:03] midlaj4466 opened #162 "Cannot add products"
Showing status of 404

[2022-07-02 10:18] miidlaj opened #163 "The client side script is not fetching locally??"
I have deleted the client folder completely a still fetching the UI. I dont know from where it is executing. So I cant edit in design.
Someone please help me
![Capture2](https://user-images.githubusercontent.com/70736601/177006510-9dd8fb3c-0373-4d6a-b384-214065b1bcea.JPG)
![Capture](https://user-images.githubusercontent.com/70736601/177006513-f3323e98-3663-4ece-8040-1e1008f6b3d2.JPG)
.

[2022-07-05 12:54] miidlaj opened #164 "How edit UI ? Please help me with this.."

[2022-07-05 20:54] mohamedsamara commented on #163
@midlaj4466 sorry for the late reply. Did you change anything in the package.json script? if you deleted the client directory and this still running, then it is possible that it is reading from the dist directory and the script you ran was `npm run build` and `npm start` afterwards. These two script commands is to create a build and preview the build. If you are working on a dev environment you wi

[2022-07-05 20:55] mohamedsamara commented on #164
@midlaj4466 I replied [here](https://github.com/mohamedsamara/mern-ecommerce/issues/163#issuecomment-1175487949)

[2022-07-05 21:14] mohamedsamara commented on #160
@frontend56 did you change any of the package.json [scripts](https://github.com/mohamedsamara/mern-ecommerce/blob/master/package.json#L13) or the [Procfile](https://github.com/mohamedsamara/mern-ecommerce/blob/master/Procfile)? You need to add the env variables - same ones in the .env.example to the Heroku project settings.

<img width="862" alt="Screen Shot 2022-07-05 at 2 09 58 PM" src="https://

[2022-07-05 21:17] mohamedsamara commented on #159
@devogi closing this issue as discussed. This is just a missing AWS env variable. Once the env variable is added or the code to upload the image is removed - opted out there will be no issue.

[2022-07-05 21:17] #159 closed

[2022-07-05 21:19] mohamedsamara commented on #121
Closing this issue as discussed [here](https://github.com/mohamedsamara/mern-ecommerce/issues/121#issuecomment-1120500275).

[2022-07-05 21:19] #121 closed

[2022-07-06 03:32] nanaasar opened #165 "POST http://localhost:8080/api/product/add 400 (Bad Request)"
Everything works fine except i am unable to add new products with images..  when i add a new product without any image, it creates the product successfully but when i add new phone with image, i get this error POST http://localhost:8080/api/product/add 400 (Bad Request).

what am i doing wrong and how can i solve that.

thanks in advance

[2022-07-06 13:01] nanaasar commented on #165
AWS details has been add but still unable to upload images. http://localhost:8080/api/product/add 400 (Bad Request).

[2022-07-06 22:28] mohamedsamara commented on #165
@nanaasar start with logging the actual error on this [line](https://github.com/mohamedsamara/mern-ecommerce/blob/master/server/routes/api/product.js#L319). It will log the error in details instead of the friendly error returned to the client. This could be missing AWS configuration, check if the [AWS](https://github.com/mohamedsamara/mern-ecommerce/blob/master/server/utils/storage.js#L5) storage

[2022-07-08 20:03] nanaasar commented on #165
so made a small separate project to upload images to my aws s3 bucket with the same aws access key and secret key. it works and but the same credentials doesn't work with the mern ecommerce project..
 I am still facing the error "your request couldn't be processed, try again"

please help me out

[2022-07-08 23:07] mohamedsamara commented on #165
@nanaasar This is AWS error. I haven't seen it before, not sure why it also says region null maybe try add that. Look up the error there could be something about your AWS S3 setup - [Error](http://support.ottomatik.io/en/articles/2345890-how-to-fix-s3-requesttimetooskewed-error).

[2022-07-09 00:18] nanaasar commented on #165
@mohamedsamara thanks for your time and patience.. i have been able to fix it... it was caused by time zone difference.
bless

[2022-07-09 00:26] #165 closed

[2022-07-11 15:20] nanaasar opened #166 "Add Order address in Admin order details page"
Hi can you add customer address inside admin order list page... only Order ID is shown

[2022-08-24 17:26] Pranavan756 opened #169 "Not able to add products"
I tried to add products but it says error. Even with the correct sku number it is still incorrect. I think its a bug.

[2022-09-24 10:50] dvbst opened #170 "How do you change the currency symbol?"
Hello, Can you tell me how to change the  '$' currency symbol to another?

[2022-09-24 11:38] #170 closed

[2022-11-29 09:40] yakupyazicioglu commented on #170
Hi @dvbst
Unfortunately, you should do it manually by searching the '$' symbol which there is a lot.
My suggestion is to add `export const CURRENCY = "SEK";` line somewhere and use it whenever necessary.
One of the lines I found quickly: `<p className="price mb-0">${product.price}</p>` in ProductList/index.js.